---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Chuck McAndrew</title>
  </head>
  <body class="bg-base-100 text-base-content">
    <h1 class="font-mono text-primary text-4xl p-8">chuckMcAndrew</h1>
    <p class="text-text-secondary px-8">Theme is working if this text is amber and the background is dark navy.</p>
    <button class="btn btn-primary mx-8 mt-4">DaisyUI Button</button>
  </body>
</html>
